@use '@angular/material' as mat;
@use '../../../../../libs/angular/shared/ui/src/lib/styles/themes/black-white';

@include mat.elevation-classes();
@include mat.app-background();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
